@model List<NutriApp.Models.Measure>
@{
    ViewBag.Title = "MedidasAdmin";
}

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>@Html.ActionLink("Groups", "index", "GroupAdmin", null, new { @class = "page-scroll" })</li>
                <li>@Html.ActionLink("Users", "index", "UserAdmin", null, new { @class = "page-scroll" })</li>
                <li>@Html.ActionLink("Recetas", "index", "RecetasAdmin", null, new { @class = "page-scroll" })</li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Clinica Nutricional</h1>
            <h3>Medidas Admin</h3>
            <ul class="list-unstyled"></ul>
        </div>
    </div>

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="Usuario" type="text" class="validate">
                    <label for="Usuario">Usuario</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Fecha" type="date" class="datepicker">
                    <label class="active" for="Fecha">Fecha</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Peso" type="text" class="validate">
                    <label for="Peso">Peso</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="IMC" type="text" class="validate">
                    <label for="IMC">IMC</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="% Grasa" type="text" class="validate">
                    <label for="% Grasa">% Grasa</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="% Musculo" type="text" class="validate">
                    <label for="% Musculo">% Musculo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Edad Metabologica" type="text" class="validate">
                    <label for="Edad Metabologica">Edad Metabologica</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="Grasa Viceral" type="text" class="validate">
                    <label for="Grasa Viceral">Grasa Viceral</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="% Agua" type="text" class="validate">
                    <label for="% Agua">% Agua</label>
                </div>
            </div>
        </form>
        <a class="waves-effect waves-light btn">Buscar</a>
        <a class="waves-effect waves-light btn">Agregar</a>
        <a class="waves-effect waves-light btn">Eliminar</a>
    </div>

    <table class="bordered">
        <thead>
            <tr>
                <th>UserID</th>
                <th>GroupID</th>
                <th>Fecha</th>
                <th>Peso</th>
                <th>IMC</th>
                <th>% Grasa</th>
                <th>% Musculo</th>
                <th>Edad Metabologica</th>
                <th>Grasa Viceral</th>
                <th>% Agua</th>
            </tr>
        </thead>

        @* ***Add table content*** *@
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                    <td>@Html.DisplayFor(modelItem => item.GroupID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                    <td>@Html.DisplayFor(modelItem => item.IMC)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fat_Percentage)</td>
                    <td>@Html.DisplayFor(modelItem => item.Muscle_Percentage)</td>
                    <td>@Html.DisplayFor(modelItem => item.Methabolic_Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.Viceral_Fat)</td>
                    <td>@Html.DisplayFor(modelItem => item.Water_Percentage)</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <br />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["May'17", "June'17", "July'17"],
        datasets: [{
            label: 'Peso',
            data: [86, 84, 82],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    </script>

    <form action="#">
        <p>
            <input name="group1" type="radio" id="test1" />
            <label for="test1">Peso</label>
        </p>
        <p>
            <input name="group1" type="radio" id="test2" />
            <label for="test2">IMC</label>
        </p>
        <p>
            <input name="group1" type="radio" id="test3" />
            <label for="test3">% Grasa</label>
        </p>
        <p>
            <input name="group1" type="radio" id="test4" />
            <label for="test4">% Musculo</label>
        </p>
        <p>
            <input name="group1" type="radio" id="test5" />
            <label for="test5">Edad Metabologica</label>
        </p>
        <p>
            <input name="group1" type="radio" id="test6" />
            <label for="test6">Grasa Viceral</label>
        </p>
        <p>
            <input name="group1" type="radio" id="test7" />
            <label for="test7">% Agua</label>
        </p>
    </form>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Clinica Nutricional</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="About.cshtml">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="Help.cshtml">Help</a></li>
                        <li><a class="grey-text text-lighten-3" href="Recetas.cshtml">Recetas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

