@model List<NutriApp.Models.Appointment>
@{
    ViewBag.Title = "CitasAdmin";
}

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>@Html.ActionLink("Groups", "index", "GroupAdmin", null, new { @class = "page-scroll" })</li>
                <li>@Html.ActionLink("Users", "index", "UserAdmin", null, new { @class = "page-scroll" })</li>
                <li>@Html.ActionLink("Recetas", "index", "RecetasAdmin", null, new { @class = "page-scroll" })</li>
            </ul>
        </div>
    </nav>
    
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Clinica Nutricional</h1>
                <h3>Citas Admin</h3>
                <ul class="list-unstyled"></ul>
            </div>
        </div>
    <form class="col s12" method="post">
        <div class="row">
            <div class="input-field col s6">

                <input class='validate' type='text' name='Usuario' id='Usuario' />
                <label class="active" for='Usuario'>Usuario</label><input type="submit" class="waves-effect waves-light btn" value="Buscar"><input />


            </div>
        </div>

        <script>

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        </script>
        <div class="row">
            <div class="input-field col s6">
                <input id="Fecha" type="date" class="datepicker">
                <label class="active" for="Fecha">Fecha</label><a class="waves-effect waves-light btn">Buscar</a>
                <label class="active" for="Fecha">Fecha</label><a class="waves-effect waves-light btn">Agregar</a>
                <label class="active" for="Fecha">Fecha</label><a class="waves-effect waves-light btn">Eliminar</a>
            </div>
        </div>
    </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>UserID</th>
                </tr>
            </thead>

            @* ***Add table content*** *@
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                    </tr>
                }
            </tbody>
        </table>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Clinica Nutricional</h5>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="About.cshtml">About</a></li>
                            <li><a class="grey-text text-lighten-3" href="Help.cshtml">Help</a></li>
                            <li><a class="grey-text text-lighten-3" href="Recetas.cshtml">Recetas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

